body {
  margin: 0;
  background: url(../images/food_bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  letter-spacing: 0.1rem;
  padding: 0 1rem;
}

h1 {
  color: #f4f4f4;
  text-align: center;
  font-family: cursive;
  font-size: 4rem;
  margin: 3rem 0;
}

ul {
  max-width: 270px;
  margin: auto;
  padding: 0;
  list-style: none;
}

li {
  margin-top: 2rem;
}

img {
  margin-right: 1rem;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ddd;
  font-size: 1.5rem;
  transition: all 0.2s;
}

a:hover {
  color: #bfbfbf;
  padding-left: 0.2rem;
}

/**************************** Media Queries ****************************/
@media (max-width: 600px) {
  h1 {
    font-size: 2.9rem;
  }
}
